.header {
    background-color: #073042;
}
.header-style {
    background-color: #202020;
}
.header__box-link {
    display: flex;
    align-items: center;
}

.header__main {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    margin: 0 15px;
    }
    
    
    .header__container {
        display: flex;
    }
    
    .header__button {
        width: 49px;
        height: 19px;
        font-weight: 500;
        text-decoration: none;
        color: #FFFFFF;
        margin-left: 30px;
        font-size: 12px;
        text-align: center;
        padding-top: 7px;
        border-radius: 3px;
        font-family: "Inter", Arial, sans-serif;
    }
    
    .header__group-style {
        display: flex;
        justify-content: space-between;
        margin: 0 15px;
        align-items: center;
      }

.header__group {
    height: 74px;
    min-width: 292px;
}

.header__button-active {
    background-color: #3DDC84;
    color: black;
}

.logo {
    width: 38px;
    height: 38px;
}

.header__nav-link {
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 16px;
    display: none;
}

.header__menu {
    width: 40px;
    height: 43px;
    cursor: pointer;
    background-image: url(../../images/icon__COLOR_icon-main.svg);
    background-position: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}



@media screen and (min-width: 768px) {
    .header__group {
        min-width: 668px;
    }
    .header__button {
        width: 76px;
        height: 25px;
        margin-left: 30px;
        font-size: 12px;
        padding-top: 10px;
    }
    .header__menu {
        width: 44px;
        height: 44px;
    }
    .header__group-style {
        margin: 0 30px
    }
    .header__main {
        margin: 0 30px;
    }
}


@media screen and (min-width: 1280px) {
    .header {
        min-width: 1024px;
    }
    .header__group {
        min-width: 1140px;
    }

    .header__nav-link {
        display: initial;
        font-size: 13px;
        line-height: 18px;
        text-decoration: none;
        color: #FFFFFF;
        margin-right: 16px;
    }

    .header__nav-link-style {
        font-size: 13px;
        line-height: 32px;
        text-decoration: none;
        color: #FFFFFF;
        margin-right: 16px;
    }

    .header__group-style {
        max-width: 1140px;
margin: 0 auto;
    }

    .header__main {
        max-width: 1140px;
margin: 0 auto;
}

.header__menu {
    display: none;
}
}